header {
background-color: rgb(93, 228, 20);
color: #077f27;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}
main {
background-color: rgb(93, 228, 20);
color: #077f27;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}
  article{
 display:flex;
        }
img {
width: 80px;
height: 80px;
}
.artigo-autor {
font-weight: bold;
}