:root {
    --cor-primaria: rgb(27, 249, 212);
    --cor-secundaria: #130173;
    --cor-fundo: #130173;
    --cor-texto: rgb(27, 249, 212);
    --cor-contraste: #151428;
    --cor-botao: #f9f9f9;

    --fonte-texto: 'Segoe UI', sans-serif;
}
* { 
    transition: background-color 0.8s ease;
}

.tema-escuro {
--cor-primaria: #c9e3ff; 
--cor-secundária:#130173;
--cor-fundo: #151428; 
--cor-texto: #ffffff;
--cor-contraste:#151428;
--cor-botao:#f9f9f9;
}

.tema-escuro p {
    color: var(--cor-texto);

.tema-escuro a {
color: var(--cor-secundaria);
}

.tema-escuro button {
    border: none;
    background-color: var(--cor-botao);
    color: var(--cor-texto);
}

header {
background-color:var(--cor-primaria);
color: #130173
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}

.artigo-autor {
    font-weight: bold;
}

main {
background-color:var(--cor-fundo);
color: var(--cor-texto);
margin: 0 auto;
padding: 16px;
display: flex;
}

  article {
 display:flex;
 }

img {
width: 80px;
height: 80px;
}

.artigo-autor {
    font-weight: bold;
}

.btn-tema-escuro {
    position: fixed;
    bottom: 16px; 
    right: 16px; 
    font-size: 32px; 
    padding: 12px;  
    background-color: var(--cor-primaria); 
    border-radius: 50%; 
}